:root {
    --dark-background: #1A1A1A ;
    --color-hover: rgba(76, 164, 251, 0.453) ;
    --font-color-primary: #E0E0E0 ;
    --font-color-secondary: rgb(209 213 219);
    --highlight-primary-color: #1f87ff;
    --highlight-secondary-color: #7bb7fb;
    --link-background-color: #393951;
    --link-border-color: #6b6b97;
    --html-color: #ff874b;
    --css-color: #4b54ff;
    --js-color: #e3dd3f;
    --x-img-projects: 500px;
}

html {
    background-color: var(--dark-background);
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;;
    font-variation-settings: 'wght' 400;
    font-size: 22px;
}

body {
    margin: 0;
}

main, footer {
    width: 60%;
    margin: auto;
}

@media (max-width: 768px) {
    main {
        width: 90%;
    }
}

h1, h2, h3, h4, li {
    color: var(--font-color-primary);
}

h1 {
    font-size: 52px;
}

p {
    color: var(--font-color-secondary);
    font-size: 16px;
}

a {
    color: var(--font-color-primary);
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

b {
    color: var(--highlight-secondary-color);
}

span {
    color: var(--font-color-primary);
    font-size: 16px;
}

i {
    margin-right: 6px;
}

.img-link {
    margin-right: 6px;
    width: 15px;
}

.highlight-primary-color {
    color: var(--highlight-primary-color);
}

.highlight-secondary-color {
    color: var(--highlight-secondary-color);
}

/* Header */

nav {
    backdrop-filter: blur(3px);
    width: 23rem;
    position: fixed;
    border-radius: 0.9rem;
    background-color: rgba(54, 68, 82, 0.8);
}

header {
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-link {
    font-size: 18px;
    padding: 9px 16px;
    margin: 5px;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.nav-link:hover {
    background-color: var(--color-hover);
    border: 1px solid var(--highlight-secondary-color);
}

@media (max-width: 450px) {
    header {
        width: 100%;
    }
    .nav-list {
        justify-content: space-evenly;
    }
    .nav-link {
        font-size: 16px;
        padding: 7px 7px;
        margin: 0px;
    }
}


/* HOME */

section, footer {
    padding-top: 80px;
}

.intro-box {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 20px;
}

.intro-header {
    p {
        font-size: 20px;
    }
    h2 {
        margin-top: -30px;
        margin-bottom: 30px;
    }
}

.intro-img-box {
    padding-top: 50px;
}

.img-yo {
    width: 100%;
    max-width: 150px;
    margin-left: 50px;
    border-radius: 140px 140px 0 0;
    border: 2px solid #000; 
}

.intro-contact {
    display: flex;
    margin: 30px 0;
    padding: 0;
    /* border: red solid 1px; */
}

.intro-contact a {
    padding: 8px 15px;
    padding-top: 6px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--color-hover);
    border: 1px solid var(--highlight-secondary-color);
    transition: border 0.3s ease;
}

.intro-contact a:hover {
    border: 1px solid var(--dark-background);
}


/* PROJECTS */

.projects-box article {
    display: flex;
}

.projects-box article:nth-child(n+2) {
    margin-top: 3em;
}

article > div {
    flex: 1
}

.project-img {
    width: 50%;
    height: 280px;
    overflow: hidden;
    border-radius: 0.75rem;
    margin-right: 30px;

    img {
        width: var(--x-img-projects);

    }
}

.project-info-title {
    margin: 0;
}

.project-info-description {
    margin-top: 10px;
}

.tech-html {
    background-color: var(--html-color);
}

.tech-css {
    background-color: var(--css-color);
}

.tech-js {
    background-color: var(--js-color);
} 

.project-info-description-tech {
    display: flex;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        margin: 5px;
        padding: 4px 8px;
        padding-top: 3px;
        border-radius: 0.5rem;
        border: 1px solid var(--highlight-secondary-color);

        .sphere {
            width: 10px;
            height: 10px;
            border-radius: 100%;
            margin: 5px 4px 0 0px;
        }
        p {
            font-size: 13px;
            margin: 0;
        }
    }
}

.project-info-description-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    overflow: hidden;
}

.link-box {
    display: flex;
    /* width: 180px; */
    border: 1px solid var(--link-border-color);
    border-radius: 0.5rem;
    margin-right: 15px;
    padding: 0 5px;
    background-color: var(--link-background-color);
    transition: border-color 0.3s ease, border 0.3s ease;
    width: fit-content;

    a {
        padding: 7px;
    }
}

.link-box:hover {
    border-color: var(--link-background-color);
}

.project-info-description-link {
    display: flex;
    margin-top: 25px;
}


.cv {
    margin-top: 30px;
}

/* FOOTER */


footer {
    /* border:var(--link-border-color) solid 1px; */
    border-radius: 0.3rem;
    display: flex;
    margin: 80px auto;
    justify-content: center;
    padding: 30px 15px 0px;
}

.footer-box a {
    margin: 0 15px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.footer-box a:hover {
    transform: scale(1.2); 
}
