:root {
    --dark-background: #1A1A1A ;
    --color-hover: rgba(76, 164, 251, 0.453) ;
    --font-color-primary: #E0E0E0 ;
    --font-color-secondary: rgb(209 213 219);
    --highlight-primary-color: #1f87ff;
    --highlight-secondary-color: #7bb7fb;

    --x-img-projects: 500px;
}

html {
    background-color: var(--dark-background);
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;;
    font-variation-settings: 'wght' 400;
    font-size: 22px;
}

body {
    margin: 0;
}

main {
    width: 60%;
    margin: auto;
}

@media (max-width: 768px) {
    main {
        width: 90%;
    }
}

h1, h2, h3, h4, li {
    color: var(--font-color-primary);
}

h1 {
    font-size: 52px;
}

p {
    color: var(--font-color-secondary);
    font-size: 18px;
}

a {
    color: var(--font-color-primary);
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

b {
    color: var(--highlight-secondary-color);
}

span {
    color: var(--font-color-primary);
    font-size: 16px;
}

i {
    margin-right: 6px;
}

/* Header */

header {
    margin-top: 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    padding: 0;
}

.nav-link {
    font-size: 18px;
    padding: 9px 16px;
    margin: 5px;
    border-radius: 50px;
    transition: background-color 0.3s ease, border 0.3s ease;
    border: 1px solid var(--dark-background);
}

.nav-link:hover {
    background-color: var(--color-hover);
    border: 1px solid var(--highlight-secondary-color);
}

@media (max-width: 450px) {
    header {
        width: 100%;
    }
    .nav-list {
        justify-content: space-evenly;
    }
    .nav-link {
        font-size: 16px;
        padding: 7px 7px;
        margin: 0px;
    }
}


/* HOME */

section {
    padding-top: 80px;
}

.intro-box {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 20px;
}

.intro-header {
    h2 {
        margin-top: -30px;
        margin-bottom: 30px;
        color: var(--highlight-primary-color);
    }
}

.intro-img-box {
    padding-top: 50px;
}

.img-yo {
    width: 100%;
    max-width: 150px;
    margin-left: 50px;
    border-radius: 140px 140px 0 0;
    border: 2px solid #000; 
}

.intro-contact {
    display: flex;
    margin: 30px 0;
    padding: 0;
    /* border: red solid 1px; */
}

.intro-contact a {
    padding: 8px 15px;
    padding-top: 6px;
    margin: 5px;
    border-radius: 50px;
    background-color: var(--color-hover);
    border: 1px solid var(--highlight-secondary-color);
    transition: border 0.3s ease;
}

.intro-contact a:hover {
    border: 1px solid var(--dark-background);
}


/* PROJECTS */

.projects-box article {
    display: flex;
}

article > div {
    flex: 1
}

.project-img {
    width: 50%;
    height: 280px;
    overflow: hidden;
    border-radius: 0.75rem;
    margin-right: 30px;

    img {
        width: var(--x-img-projects);

    }
}

.project-info-title {
    margin: 0;
}

.project-info-description-tech {
    display: flex;
    padding: 0;
    margin: 0;

    li {
        padding: 4px 8px;
        /* padding-top: 6px; */
        margin: 5px;
        border-radius: 50px;
        background-color: var(--color-hover);
        border: 1px solid var(--highlight-secondary-color);

        font-size: 14px;
    }
}
